In [61]:
import pandas as pd

data = pd.read_csv("data/synthetic_data_lung_cancer.csv")
print(data.columns)

Index(['SUBJECT_ID', 'DEFINITION_ID', 'TIME'], dtype='object')

In [62]:
# Splitting 'DEFINITION_ID' into multiple columns
new_cols = data['DEFINITION_ID'].str.split('_', expand=True)

# Naming the new columns
new_cols.columns = ['CATEGORY', 'CATEGORY_ID']

# Pivoting the DataFrame
pivot_new_cols = new_cols.pivot_table(index=df.index, columns='CATEGORY', values='CATEGORY_ID', aggfunc=lambda x: ', '.join(str(v) for v in x)).fillna('')

print(pivot_new_cols.columns)

Index(['condition', 'death', 'drug', 'measurement', 'observation',
       'procedure'],
      dtype='object', name='CATEGORY')

In [71]:
# Concatenating the new columns to the original DataFrame
df = pd.concat([data, pivot_new_cols], axis=1)

# Dropping the original 'DEFINITION_ID' column
df.drop(columns=['DEFINITION_ID'], inplace=True)

# Filling the death column 
df['death'] = df['death'].replace('None', '1')
df['death'] = df['death'].replace('', '0')
# Converting column to boolean dtype
df['death'] = df['death'].astype(int)

print(df.columns)
#df.loc[(df['condition']=='')&(df['drug']=='')&(df['measurement']=='')&(df['observation']=='')&(df['procedure']=='')]
print([len(df['condition'].unique()),
len(df['drug'].unique()),
len(df['observation'].unique()),
len(df['procedure'].unique())])

print(['0' in (df['condition'].unique()),
'0' in (df['drug'].unique()),
'0' in (df['observation'].unique()),
'0' in (df['procedure'].unique())])

df.head()

Index(['SUBJECT_ID', 'TIME', 'condition', 'death', 'drug', 'measurement',
       'observation', 'procedure'],
      dtype='object')
[2400, 419, 225, 491]
[False, False, False, False]

,SUBJECT_ID,TIME,condition,death,drug,measurement,observation,procedure
0,1,0.004807,,0,217,,,
1,1,0.008643,1922,0,,,,
2,1,0.027792,785,0,,,,
3,1,0.032515,,0,49,,,
4,1,0.056765,,0,,132,,